.ant-table {
    border-radius: 0 !important;
}

.ant-table-body {
    min-height: 50vh !important;
}

.ant-table-title {
    background: #d3d3d3;
    padding: 5px !important;
    border-radius: 0 !important;
}